.container{
	margin:20px 130px 0 130px;
}

@media screen and (max-width: 500px){
    .container{
        margin:20px 30px 0 30px;
    }
}

@media screen and (max-width: 990px){
    .article_ranking{
        display: none;
    }
}

#Carousel{
    border-radius: 10px;
    margin: 20px auto;
    overflow: hidden;
}

.list-group{
	border-bottom:1px solid #f0f0f0;
	margin:20px 0 20px 0;
	padding-bottom: 20px;
}

.list-group .list-group-item-heading{
	font-weight:700;
	margin:0 0 7px 0;
}

.list-group .list-group-item-text{
    padding: 8px 10px;
}

.list-group .meta{
	padding:10px;
}

.meta span{
    color: #b4b4b4 !important;
}

.meta .update_time{
	float:right;
}

.small-avator{
	width:24px !important;
	height: 24px !important;
}

.list-group .article-likes{
	padding-left:10px;
}

.list-group .article-views{
	padding-left:10px;
}